.Titulo1{
    background-color: tomato;
    font-size: 2rem;
    color: rgb(236, 152, 236);
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
.Titulo2{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background-color: rgb(218, 109, 218);
    color: tomato; 
    display: flex;
    justify-content: center;
    
}
.Titulo3{
    font-family: 'Reggae One', cursive;
    color: indigo;

    
    
}
.contenedor{
    display: flex;
    justify-content: center;
    color: rgb(22, 19, 165);
    background-color: tomato;
}

body {
    background-image: url(https://giffiles.alphacoders.com/349/34903.gif);
    background-repeat: no-repeat;
    background-position: right;
}
.table{
    border-collapse: collapse;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table th{
    background-color: rgb(255, 47, 193);
    color: rgb(240, 232, 240);
}
.table td:hover{
    background-color: rgb(43, 226, 217);
    color: blue;
}
.table tr{
    background-color: violet;
    color: wheat;
}
caption{
    font-family: 'Lobster', cursive;
    font-size: 26px;
}
.table th:hover{
    background-color: aqua;
    color: blue;
}